################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/meiTests/obj/Debug
/meiTests/bin/Debug
/mei/obj/Debug
/.vs
/Fraction/obj
/mei/obj/Release
/Fraction/bin/Debug
/Fraction/obj/Debug
/mei/bin/Debug
/CSVExport/obj/Debug
/CSVExport/bin/Debug
/Mensuraligner/bin/Debug
/Mensuraligner/obj/Debug
/MensuralignerTests/bin/Debug
/MensuralignerTests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/MensuralignerTests/obj/Debug/MensuralignerTests.csproj.CoreCompileInputs.cache
/MensuralignerTests/obj/Debug/MensuralignerTests.csprojAssemblyReference.cache
/MensuralignerTests/obj/Debug/MensuralignerTests.dll
/MensuralignerTests/obj/Debug/MensuralignerTests.pdb
/MensuralignerTests/obj/Debug
/MensuralignerTests/MensuralignerTests.csproj.user
/CSVExport/bin/Release
/CSVExport/obj/Release
/Fraction/bin/Release
/mei/bin/Release
/meiTests/bin/Release
/meiTests/obj/Release
/Mensuraligner/bin/Release
/Mensuraligner/obj/Release
/MensuralignerTests/bin/Release
/MensuralignerTests/obj/Release
/Mensuraligner.Gui/obj/Debug
/Mensuraligner.Gui/obj/Release
/Mensuraligner.Gui/bin/Debug
/Mensuraligner.Gui/bin/Release
/mei2Sequence/obj/Debug
/mei2Sequence/obj/Release
/mei2Sequence/bin/Debug
/mei2Sequence/bin/Release
/mei2SequenceTests/obj/Debug
/mei2SequenceTests/obj/Release
/mei2SequenceTests/bin/Debug
/mei2SequenceTests/bin/Release
*.user
