<?xml version="1.0" encoding="utf-8"?>
<ArrayOfNeedlemanWunschOptions xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <NeedlemanWunschOptions>
    <Name>MensurAlignVisual</Name>
    <WeightNoteDuration>1</WeightNoteDuration>
    <WeightNoteWrittenPitch>1</WeightNoteWrittenPitch>
    <WeightNoteColoration>1</WeightNoteColoration>
    <WeightNoteFermata>1</WeightNoteFermata>
    <WeightNoteLigaturePosition>1</WeightNoteLigaturePosition>
    <WeightNoteLigatureForm>1</WeightNoteLigatureForm>
    <WeightNoteStem>1</WeightNoteStem>
    <WeightNoteBreveduration>0.00</WeightNoteBreveduration>
    <WeightNotePitchWithAccid>0.00</WeightNotePitchWithAccid>
    <WeightRestDuration>1</WeightRestDuration>
    <WeightRestBreveDuration>0.0</WeightRestBreveDuration>
    <WeightMensurRatio>0.0</WeightMensurRatio>
    <WeightMensurTempus>0.0</WeightMensurTempus>
    <WeightMensurProlatio>0.0</WeightMensurProlatio>
    <WeightMensurModus>0.0</WeightMensurModus>
    <WeightMensurMaximodus>0.0</WeightMensurMaximodus>
    <WeightMensurSign>1</WeightMensurSign>
    <WeightProportionSign>1</WeightProportionSign>
    <WeightProportionRatio>0.00</WeightProportionRatio>
    <WeightProportionAffected>0.00</WeightProportionAffected>
    <GapPenalty>2</GapPenalty>
    <DamagePenalty>1.5</DamagePenalty>
    <ConversionPenalty>100</ConversionPenalty>
    <UseAffineGaps>false</UseAffineGaps>
    <GapExtensionPenalty>1.8</GapExtensionPenalty>
    <UseAffineDamages>false</UseAffineDamages>
    <DamageExtensionPenalty>1.3</DamageExtensionPenalty>
  </NeedlemanWunschOptions>
  <NeedlemanWunschOptions>
    <Name>MensurAlignLogical</Name>
    <WeightNoteDuration>0.0</WeightNoteDuration>
    <WeightNoteWrittenPitch>0.0</WeightNoteWrittenPitch>
    <WeightNoteColoration>0.0</WeightNoteColoration>
    <WeightNoteFermata>0.0</WeightNoteFermata>
    <WeightNoteLigaturePosition>0.0</WeightNoteLigaturePosition>
    <WeightNoteLigatureForm>0.0</WeightNoteLigatureForm>
    <WeightNoteStem>0.0</WeightNoteStem>
    <WeightNoteBreveduration>1.00</WeightNoteBreveduration>
    <WeightNotePitchWithAccid>1.00</WeightNotePitchWithAccid>
    <WeightRestDuration>0.0</WeightRestDuration>
    <WeightRestBreveDuration>1</WeightRestBreveDuration>
    <WeightMensurRatio>1.00</WeightMensurRatio>
    <WeightMensurTempus>1.00</WeightMensurTempus>
    <WeightMensurProlatio>1.00</WeightMensurProlatio>
    <WeightMensurModus>1.00</WeightMensurModus>
    <WeightMensurMaximodus>1.00</WeightMensurMaximodus>
    <WeightMensurSign>0.0</WeightMensurSign>
    <WeightProportionSign>0.0</WeightProportionSign>
    <WeightProportionRatio>1.00</WeightProportionRatio>
    <WeightProportionAffected>1.00</WeightProportionAffected>
    <GapPenalty>2</GapPenalty>
    <DamagePenalty>1.5</DamagePenalty>
    <ConversionPenalty>100</ConversionPenalty>
    <UseAffineGaps>false</UseAffineGaps>
    <GapExtensionPenalty>1.8</GapExtensionPenalty>
    <UseAffineDamages>false</UseAffineDamages>
    <DamageExtensionPenalty>1.3</DamageExtensionPenalty>
  </NeedlemanWunschOptions>
</ArrayOfNeedlemanWunschOptions>